* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* splash scree */

.loader-color {
  background: linear-gradient(to top, #aa076b, #61045f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* main section(choose-action)*/

.main-background {
  background: url(../assets/img/img-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.main-part-one {
  height: 15vh;
}

.main-part-two {
  height: 60vh;
}

.main-part-three {
  height: 24vh;
}

.btn-light {
  border-radius: 8px;
  padding: .8rem;
  border-color: transparent !important;
}


/* Section register-phone */

.btn-default {
  border-radius: 4px;
  padding: .6rem 8rem;
  border-color: transparent !important;
}

.grey {
  color: #7c7c7c;
  background: #dfdfdf;
}

.icon-white {
  color: white;
}

.text-part{
  line-height: 70%;
}

.text-size{
  font-size: .9em;
}