* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {}


/* splash scree */

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.vh100 {
  height: 100vh;
}

.loader-color {
  background: linear-gradient(to top, #aa076b, #61045f);
}


/* main section(choose-action)*/

.main-background {
  background: url(../assets/img/img-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

.btn-light {
  border-color: transparent !important;
}