<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Lyft App</title>
  <link rel="shortcut icon" href="../assets/img/favicon.png" />
</head>

<body class=" container-flex-column vh100 loader-color flexbox-container">
  <!-- Star splash screen(close)-->
  <section class="loader-color">
    <div class="container">
      <div class="row position-rel ">
        <img class="col-xs-12 col align-self-center" src="../assets/img/logo-white.png"  alt="logo-white">
        <i class="fa fa-check fa-5x position-abs" aria-hidden="true"></i>
      </div>
    </div>
  </section>
<!-- End splash screen(close)-->

  <script src="../vendors/js/jquery.js"></script>
  <script src="../js/close.js"></script>
</body>

</html>