<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Lyft App</title>
  <link rel="shortcut icon" href="../assets/img/favicon.png" />
</head>

<body class="loader-color">
  <!-- Star section(register-phone)-->
  <section>
    <div class="container main-part-one ">
      <div class="row ">
        <div class="col-xs-6 justify-content-start pl-4">
          <a href="choose-action.html" class="icon-white">
            <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs-6 text-part">
          <h4 class="text-center icon-white">Sign Up</h4>
          <br>
          <p class="icon-white text-size pl-4">Join now for the free ride credit</p>
          <hr>
        </div>
      </div>
    </div>
    <br>
    <div class="container main-part-two">
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group pl-5">
            <div class="input-group-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <ul class="dropdown-menu">
                <li>
                  <!-- Agregamos el atributo data-country para poder llamarlo con jquery y poder darle funcionalidad -->
                  <a class="dropdown-item" href="#">
                    <img src="../assets/img/flags-icon/pe-icon.png" width="50" height="50" alt="peru-flag" data-country="+51">
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="../assets/img/flags-icon/mx-icon.png" width="50" height="50" alt="mexico-flag" data-country="+52">
                  </a>
                </li>
              </ul>
            </div>
            <span></span>
            <input type="number" class="form-control" id="verified-phone" aria-label="..." value="" placeholder="000">
          </div>
          <p class="icon-white text-size pl-5">We'll send a text to verify ypur phone </p>
        </div>
      </div>
      <div class="container pt-4 main-part-three">
        <div class="row ">
          <div class="col-xs-12">
            <a href="verify-phone.html" type="button" class=" btn btn-default grey" id="next" disabled>NEXT</a>
          </div>
        </div>
      </div>
  </section>
  <!-- End section(register-phone)-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="../vendors/js/jquery.js"></script>
  <script src="../js/register-phone.js"></script>
</body>

</html>