<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Lyft App</title>
  <link rel="shortcut icon" href="../assets/img/favicon.png" />
</head>

<body class="loader-color">
  <!-- Star section(signup)-->
  <section>
    <div class="container main-part-one ">
      <div class="row ">
        <div class="col-xs-6 justify-content-start pl-4">
          <a href="register-phone.html" class="icon-white">
            <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-xs-6 text-part">
          <h4 class="text-center icon-white">Sign Up</h4>
          <br>
          <p class="icon-white text-size pl-4">Join now for the free ride credit</p>
          <hr>
        </div>
      </div>
    </div>
    <br>
    <div class="container main-part-one ">
      <div class="row">
        <div class="col-xs-7 justify-content-center pl-4">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user icon-white pr-3" aria-hidden="true"></i>
            </span>
            <input class="form-control" type="text" placeholder="First Name">
          </div>
        </div>
      </div>
    </div>
    <div class="container main-part-one ">
      <div class="row">
        <div class="col-xs-7 justify-content-center pl-4">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope-o  icon-white pr-2" aria-hidden="true"></i>
            </span>
            <input class="form-control " type="password" placeholder="Email">
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-4 ">
      <div class="row ">
        <div class="col-xs-12">
          <a href="close.html" type="button" class=" btn btn-default grey" id="next" disabled>NEXT</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End section(signup)-->
  <script src="../vendors/js/jquery.js"></script>
  <script src="../js/signup.js"></script>
</body>

</html>